@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* 
:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
}

.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
}

* {
    @apply border-border;
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    @apply bg-background text-foreground font-sans antialiased;
} */